
  
  label.required {
      position: relative;
    }
    
    .validationMessage {
        margin-left: 8px;
        color: red;
        font-weight: 500;
    }
    
  label.required::after {
      font-weight: 700;
      content: "*";
      position: absolute;
      right: -8px;
      color: red;
    }
    
    input.wide,
    textarea.wide {
        box-sizing: border-box;
        width: 65%;
    }
    .hidden {
      display: none;
    }

    .legend.required {
       color: red;
     }
  